<footer class="web-footer" style="background-color: black;">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-left"></div>
				<div class="col-sm-4 rubi-4">
					{% block extension %}
						{% include "b2bshop/templates/footer/footer_extension.html" %}
					{% endblock %}
				</div>
				<div class="col-sm-4 text-left"></div>
			</div>
			<div class="row footer-bottom-line">
				<div class="text-muted small col-sm-6 col-xs-12">
					<!-- {#{% if copyright %}
						&copy; {{ copyright }}
					{% endif %}#} -->
					{% if footer_address %}
						{% if copyright %}<br>{% endif %}
						{{ footer_address }}
					{% endif %}
				</div>
				<!--<div class="col-sm-6 text-left">
					{% if footer_items -%}
					<div class="row">
						{#{% include "templates/includes/footer/footer_items.html" %}#}
					</div>
					{% endif %}
				</div>-->
				<div class="text-muted small col-sm-6 col-xs-12
					text-right footer-powered">
					{% block powered %}
						{% include "b2bshop/templates/footer/footer_powered.html" %}
					{% endblock %}
				</div>
			</div>
		</div>
	</section>
</footer>
