<footer class="web-footer" style="background-color: #CECBBF;">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-left"></div>
				<div class="col-sm-4 rubi-4">
					{% block extension %}
						{% include "b2bshop/templates/footer/footer_extension.html" %}
					{% endblock %}
				</div>
				<div class="col-sm-4 text-left"></div>
			</div>
			<div class="row footer-bottom-line">
				<div class="text-muted small col-sm-6 col-xs-12">
					<div style="color: black;"><img src="/files/rubirosa_footer_transparent_black.png"><p>RUBIROSA MANAGEMENT GMBH<br>LAGERSTRASSE 4<br>CH-9200 GOSSAU SG</p>
						<table>
							<tbody>
								<tr>
									<td style="width: 55px;">TEL:</td>
									<td>+41 44 586 02 80</td>
								</tr>
								<tr>
									<td style="width: 55px;">E-MAIL:</td>
									<td><a href="mailto:info@rubirosa.com" style="color: black;">INFO@RUBIROSA.COM</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="text-muted small col-sm-6 col-xs-12
					text-right footer-powered">
					{% block powered %}
						{% include "b2bshop/templates/footer/footer_powered.html" %}
					{% endblock %}
				</div>
			</div>
		</div>
	</section>
</footer>
