 /*Accordion controls: */
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: {{ acc_colour or '#eee' }};/*#eee;*/
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: {{ sel_acc_colour or '#ccc' }};/*#ccc;*/
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: transparent;/*white;*/
    display: none;
    overflow: hidden;
} 
/* -------------------------------------------------------------------- */

/* Tab controls: */
.bottomline.specs {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid {{ spec_mark_colour or 'black' }} !important;
}
.bottomline.order {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid {{ order_mark_colour or 'black' }} !important;
}

/* Style tab links */
.tablink.specs {
  background-color: {{ spec_colour or 'white' }};
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.tablink.order {
  background-color: {{ order_colour or 'white' }};
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink.order:hover {
  background-color: {{ order_hover_colour or '#777' }};
}
.tablink.specs:hover {
  background-color: {{ spec_hover_colour or '#777' }};
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent.order {
  background-color: {{ order_colour or 'white' }};
  /*color: white;*/
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.tabcontent.specs {
  background-color: {{ spec_colour or 'white' }};
  /*color: white;*/
  display: none;
  padding: 100px 20px;
  height: 100%;
}
/* --------------------------------------------------------------------------------- */

#PlaceOrder {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: {{ cart_btn_colour or 'rgba(146,208,80,1)' }};
    color: {{ sel_cart_btn_colour or 'white' }};
    cursor: pointer;
    border-radius: 10px;
    font-size: 35px;
    width: 100px;
    height: 100px;
}
#PlaceOrder:hover {
    background-color: transparent;
    font-weight: bold;
    color: {{ cart_btn_colour or 'rgba(146,208,80,1)' }};
    background-color: {{ sel_cart_btn_colour or 'rgba(0,0,0,0.1)' }};
    border: 1px solid {{ sel_cart_btn_colour or 'rgba(146,208,80,1)' }};
}
 /*-----------------------------------------------------------------------------------*/
  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: {{ popup_colour or '#5cb85c' }};
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 

/*---------------------------------------------------------*/
{% if tables_hatching_colour %}
tr:nth-child(even) {
    background-color: {{ tables_hatching_colour or '#f2f2f2'}};
}
{% endif %}

body {
	background-image: url("{{ bg_img }}");
}