{% for main_group in items_for_page %}
	<button class="accordion">{{ main_group }}</button>
	<div class="panel">
		{% if items_for_page[main_group]|len >= 1 %}
			{% for group in items_for_page[main_group] %}
				<button class="accordion">{{ group }}</button>
				<div class="panel">
					{% if items_for_page[main_group][group]["templates"]|len >= 1 %}
						{% for item in items_for_page[main_group][group]["templates"] %}
							{% for spec in items_for_page[main_group][group]["templates"][item]["specs"] %}
							<button class="accordion" onclick="findAndOpen('{{ item }}')">{% if acc_img == "1" %}<img src="{{ spec.image }}" class="media-object" style="width:60px">{% endif %} {{ item }}</button>
							{% endfor %}
							{% if items_for_page[main_group][group]["templates"][item]["attributes"]|len == 1 %}
								<div class="panel">
									<button class="tablink specs" onclick="openPage('specs {{ item }}', this)">Spezifikationen</button>
									<button id="{{ item }}" class="tablink order" onclick="openPage('order {{ item }}', this)" id="defaultOpen">Bestellmatrix</button>
									<div id="specs {{ item }}" class="tabcontent specs">
										{% for spec in items_for_page[main_group][group]["templates"][item]["specs"] %}	
											<table style="width: 100%">
												<tr>
													<td style="width: 50%"><img src="{{ spec.image }}" style="width:300px"></td>
													<td style="width: 50%">{{ spec.description }}</td>
												</tr>
											</table>
										{% endfor %}
									</div>
									<div id="order {{ item }}" class="tabcontent order">
									  {% for key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
										{% if items_for_page[main_group][group]["templates"][item]["attributes"][key]|len < 1 %}
											<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
										{% else %}
											{% if items_for_page[main_group][group]["templates"][item]["items"]|len < 1 %}
												<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
											{% else %}
												<table style="width: 100%">
													<tr>
														<th>{{ key }}</th>
														<th>Menge</th>
													</tr>
													{% for _item in items_for_page[main_group][group]["templates"][item]["items"] %}
														<tr>
															<td>{{ _item[key] }}</td>
															<td><center><input class="item-qty" type="number" id="{{ _item['item_code'] }}" style="max-width: 50px;" value="0" min="0"></center></td>
														</tr>
													{% endfor %}
												</table>
											{% endif %}
										{% endif %}
									{% endfor %}
									</div>
								</div>
							{% elif items_for_page[main_group][group]["templates"][item]["attributes"]|len == 2 %}
								<div class="panel">
									<button class="tablink specs" onclick="openPage('specs {{ item }}', this)">Spezifikationen</button>
									<button id="{{ item }}" class="tablink order" onclick="openPage('order {{ item }}', this)" id="defaultOpen">Bestellmatrix</button>
									<div id="specs {{ item }}" class="tabcontent specs">
										{% for spec in items_for_page[main_group][group]["templates"][item]["specs"] %}
											<table style="width: 100%">
												<tr>
													<td style="width: 50%"><img src="{{ spec.image }}" class="media-object" style="width:100px"></td>
													<td style="width: 50%">{{ spec.description }}</td>
												</tr>
											</table>
										{% endfor %}
									</div>
									<div id="order {{ item }}" class="tabcontent order">
										<table style="width: 100%">
											{% for key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
												{% if loop.index == 1 %}
													<!-- <tr>
														<th>{{ key }}</th> -->
												{% elif loop.index == 2 %}
														<!-- <th colspan="{{ items_for_page[main_group][group]['templates'][item]['attributes'][key]|len }}">{{ key }}</th>
														<th colspan="{{ items_for_page[main_group][group]['templates'][item]['attributes'][key]|len }}"></th>
													</tr> -->
													{% for _key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
														{% if loop.index == 1 %}
															{% for key in items_for_page[main_group][group]["templates"][item]["attributes"][_key] %}
																{% if loop.index == 1 %}
																	<tr>
																		<td></td>
																		{% for __key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
																			{% if loop.index == 2 %}
																				{% for x_key in items_for_page[main_group][group]["templates"][item]["attributes"][__key] %}
																					<td><strong><center>{{ x_key }}</center></strong></td>
																				{% endfor %}
																			{% endif %}
																		{% endfor %}
																	</tr>
																{% endif %}
															{% endfor %}
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endfor %}
											{% for _key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
												{% if loop.index == 1 %}
													{% for key in items_for_page[main_group][group]["templates"][item]["attributes"][_key] %}
														<tr>
															<td>{{ key }}</td>
															{% set master_key = key %}
															{% for __key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
																{% if loop.index == 2 %}
																	{% for x_key in items_for_page[main_group][group]["templates"][item]["attributes"][__key] %}
																		{% set foo = [] %}
																		{% for _item in items_for_page[main_group][group]["templates"][item]["items"] %}
																			{% if _item["Colour"] == master_key %}
																				{% if _item["Size"] == x_key %}
																					<td><center><input class="item-qty" type="number" id="{{ _item['item_code'] }}" style="max-width: 50px;" value="0" min="0"></center></td>
																					{% if foo.append(True) %}{% endif %}
																				{% elif _item["Finish"] == x_key %}
																					<td><center><input class="item-qty" type="number" id="{{ _item['item_code'] }}" style="max-width: 50px;" value="0" min="0"></center></td>
																					{% if foo.append(True) %}{% endif %}
																				{% endif %}
																			{% endif %}
																		{% endfor %}
																		{% if foo %}
																		{% else %}
																			<td><center><input type="number" id="" style="max-width: 50px;" disabled></center></td>
																		{% endif %}
																	{% endfor %}
																{% endif %}
															{% endfor %}
														</tr>
													{% endfor %}
												{% endif %}
											{% endfor %}
										</table>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
		{% endif %}
	</div>
{% endfor %}
<!-- place order button -->
<button class="btn" id="PlaceOrder" title="Add to Cart" onclick="placeOrder()"><i class="fa fa-cart-plus"></i></button> 

<!-- cart modal -->
 <!-- Modal content -->
 <!-- The Check Modal -->
<div id="goToCart" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>{{ _("Your Order is ready") }}</h2>
		</div>
		<div class="modal-body">
			<p>{{ _("You can now complete your purchase in the") }} <a href="/cart">{{ _("shopping cart.") }}</a></p>
		</div>
	</div>  
</div> 
 <!-- The Empty Modal -->
<div id="empty" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>{{ _("Please select at least one item") }}</h2>
		</div>
		<div class="modal-body">
			<p>{{ _("To add items to your shopping cart, select at least one item") }}</a></p>
		</div>
	</div>  
</div> 