{% if style == "Accordion" %}
	{% include "www/B2B/templates/accordion.html" %}
{% endif %}
<!-- place order button -->
<button class="btn" id="PlaceOrder" title="Add to Cart" onclick="placeOrder()"><i class="fa fa-cart-plus"></i></button> 

<!-- cart modal -->
 <!-- Modal content -->
 <!-- The Check Modal -->
<div id="goToCart" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>{{ _("Your Order is ready") }}</h2>
		</div>
		<div class="modal-body">
			<p>{{ _("You can now complete your purchase in the") }} <a href="/cart">{{ _("shopping cart.") }}</a></p>
		</div>
	</div>  
</div> 
 <!-- The Empty Modal -->
<div id="empty" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>{{ _("Please select at least one item") }}</h2>
		</div>
		<div class="modal-body">
			<p>{{ _("To add items to your shopping cart, select at least one item") }}</a></p>
		</div>
	</div>  
</div> 