{% for main_group in parent_groups() %}
	<button class="accordion">{{ main_group[0] }}</button>
	<div class="panel">
	
		{% for sub_group in sub_groups_of_parent(main_group[0]) %}
			<button class="accordion">{{ sub_group[0] }}</button>
			<div class="panel">
			
				{% for template in all_templates_of_sub_group(sub_group[0]) %}
					{% if check_if_with_size(template[0]) %}
						{% for color in get_code_and_colors(template[0]) %}
							<button class="accordion">{{ template[0] }} in {{ color[0] }}</button>
							<div class="panel">
								<div class="row">
								{% for item in get_code_and_sizes(template[0], color[0]) %}
									<div class="col-sm-1 col-xs-3">
										<center><p style="color: white;">{{ item[0] }}</p><input class="item-qty" type="number" id="{{ item[1] }}" style="max-width: 50px;" value="0" min="0"></center>
									</div>
								{% endfor %}
								</div>
								<div class="row">
									{% for specs in get_item_img_and_desc(template[0], color[0]) %}
									<div class="col-sm-4 col-xs-12">
									<img src="{{ specs.image }}">
									</div>
									<div class="col-sm-8 col-xs-12">
									{{ specs.description }}
									</div>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p>without size:</p>
						{% for color in get_code_and_colors(template[0]) %}
							<button class="accordion">{{ template[0] }} in {{ color[0] }}</button>
							<div class="panel">
							
							</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			
			</div>
		{% endfor %}
	
	</div>
	
	
	
	
	
		<!--{#{% if items_for_page[main_group]|len >= 1 %}
			{% for group in items_for_page[main_group] %}
				<button class="accordion">{{ group }}</button>
				<div class="panel">
					{% if items_for_page[main_group][group]["templates"]|len >= 1 %}
						{% for item in items_for_page[main_group][group]["templates"] %}
							{% for spec in items_for_page[main_group][group]["templates"][item]["specs"] %}
							<button class="accordion" onclick="findAndOpen('{{ item }}')">{% if acc_img == "1" %}<table style="width: 100%;"><tr><td style="width: 10%;"><img src="{{ spec.image }}" class="media-object" style="width:60px"></td><td style="width: 90%;">{{ item }}</td></tr></table>{% else %} {{ item }}{% endif %}</button>
							{% endfor %}
							{% if items_for_page[main_group][group]["templates"][item]["attributes"]|len == 1 %}
								<div class="panel">
									{% if spec_based_on == "Only Template" or spec_based_on == "Template and Variant" %}
									<button class="tablink specs" onclick="openPage('specs {{ item }}', this)">Spezifikationen</button>
									{% endif %}
									<button id="{{ item }}" class="tablink order" onclick="openPage('order {{ item }}', this)" id="defaultOpen">Bestellmatrix</button>
									{% if spec_based_on == "Only Template" or spec_based_on == "Template and Variant" %}
									<div id="specs {{ item }}" class="tabcontent specs">
										{% for spec in items_for_page[main_group][group]["templates"][item]["specs"] %}	
											<table style="width: 100%">
												<tr>
													<td style="width: 50%"><img src="{{ spec.image }}" style="width:300px"></td>
													<td style="width: 50%">{{ spec.description }}</td>
												</tr>
											</table>
										{% endfor %}
									</div>
									{% endif %}
									<div id="order {{ item }}" class="tabcontent order">
									  {% for key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
										{% if items_for_page[main_group][group]["templates"][item]["attributes"][key]|len < 1 %}
											<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
										{% else %}
											{% if items_for_page[main_group][group]["templates"][item]["items"]|len < 1 %}
												<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
											{% else %}
												<table style="width: 100%">
													<tr>
														<th>{{ key }}</th>
														<th>Menge</th>
													</tr>
													{% for _item in items_for_page[main_group][group]["templates"][item]["items"] %}
														<tr>
															<td>{% if spec_based_on == "Template and Variant" or spec_based_on == "Only Variant" %}
															{% set ref = item+ " in "+_item[key] %}
															{% include "www/B2B/templates/spec_modal.html" %}<button class="specmodal" onclick="open_spec_modal('{{ ref }}')"><i class="fa fa-question-circle"></i></button>{% endif %}{{ _item[key] }}</td>
															<td><center><input class="item-qty" type="number" id="{{ _item['item_code'] }}" style="max-width: 50px;" value="0" min="0"></center></td>
														</tr>
													{% endfor %}
												</table>
											{% endif %}
										{% endif %}
									{% endfor %}
									</div>
								</div>
							{% elif items_for_page[main_group][group]["templates"][item]["attributes"]|len == 2 %}
								<div class="panel">
									{% if spec_based_on == "Only Template" or spec_based_on == "Template and Variant" %}
									<button class="tablink specs" onclick="openPage('specs {{ item }}', this)">Spezifikationen</button>
									{% endif %}
									<button id="{{ item }}" class="tablink order" onclick="openPage('order {{ item }}', this)" id="defaultOpen">Bestellmatrix</button>
									{% if spec_based_on == "Only Template" or spec_based_on == "Template and Variant" %}
									<div id="specs {{ item }}" class="tabcontent specs">
										{% for spec in items_for_page[main_group][group]["templates"][item]["specs"] %}
											<table style="width: 100%">
												<tr>
													<td style="width: 50%"><img src="{{ spec.image }}" class="media-object" style="width:100px"></td>
													<td style="width: 50%">{{ spec.description }}</td>
												</tr>
											</table>
										{% endfor %}
									</div>
									{% endif %}
									<div id="order {{ item }}" class="tabcontent order">
										<table style="width: 100%">
											{% for key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
												{% if loop.index == 1 %}
													<!-- <tr>
														<th>{{ key }}</th> -->
												{% elif loop.index == 2 %}
														<!-- <th colspan="{{ items_for_page[main_group][group]['templates'][item]['attributes'][key]|len }}">{{ key }}</th>
														<th colspan="{{ items_for_page[main_group][group]['templates'][item]['attributes'][key]|len }}"></th>
													</tr> -->
													
													
													
													<!--
													{% for _key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
														{% if loop.index == 1 %}
															{% for key in items_for_page[main_group][group]["templates"][item]["attributes"][_key] %}
																{% if loop.index == 1 %}
																	<tr>
																		<td></td>
																		{% for __key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
																			{% if loop.index == 2 %}
																				{% for x_key in items_for_page[main_group][group]["templates"][item]["attributes"][__key] %}
																					<td><strong><center>{{ x_key }}</center></strong></td>
																				{% endfor %}
																			{% endif %}
																		{% endfor %}
																	</tr>
																{% endif %}
															{% endfor %}
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endfor %}
											{% for _key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
												{% if loop.index == 1 %}
													{% for key in items_for_page[main_group][group]["templates"][item]["attributes"][_key] %}
														<tr>
															<td>{% if spec_based_on == "Template and Variant" or spec_based_on == "Only Variant" %}
															{% set ref = item+' in '+key %}
															{% include "www/B2B/templates/spec_modal_2.html" %}<button class="specmodal" onclick="open_spec_modal('{{ ref }}')"><i class="fa fa-question-circle"></i></button>{% endif %}{{ key }}</td>
															{% set master_key = key %}
															{% for __key in items_for_page[main_group][group]["templates"][item]["attributes"] %}
																{% if loop.index == 2 %}
																	{% for x_key in items_for_page[main_group][group]["templates"][item]["attributes"][__key] %}
																		{% set foo = [] %}
																		{% for _item in items_for_page[main_group][group]["templates"][item]["items"] %}
																			{% if _item["Colour"] == master_key %}
																				{% if _item["Size"] == x_key %}
																					<td><center><input class="item-qty" type="number" id="{{ _item['item_code'] }}" style="max-width: 50px;" value="0" min="0"></center></td>
																					{% if foo.append(True) %}{% endif %}
																				{% elif _item["Finish"] == x_key %}
																					<td><center><input class="item-qty" type="number" id="{{ _item['item_code'] }}" style="max-width: 50px;" value="0" min="0"></center></td>
																					{% if foo.append(True) %}{% endif %}
																				{% endif %}
																			{% endif %}
																		{% endfor %}
																		{% if foo %}
																		{% else %}
																			<td><center><input type="number" id="" style="max-width: 50px;" disabled></center></td>
																		{% endif %}
																	{% endfor %}
																{% endif %}
															{% endfor %}
														</tr>
													{% endfor %}
												{% endif %}
											{% endfor %}
										</table>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			<div style="background-color:white;"><p><strong>Keine Produkte verfügbar</strong></p></div>
		{% endif %}
	</div>#}-->
{% endfor %}