.rubi-1 {
	min-height: 70px;
	margin-left: 0px;
	padding-left: 70px;
	padding-right: 0px;
}
.rubi-2 {
	padding-top: 15px;
}
.rubi-3 {
	background-color: black;
	min-height: 100px;
}
.rubi-4 {
	text-align: center;
}
.rubi-5 {
	text-align: center;
	display: inline-block;
	width: 42px;
	height: 42px;
	border: 2px solid #fff;
}
.rubi-6 {
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 38px;
}
.rubi-7 {
	color: white;
}




.rubi-bg-black {
	background-color: black;
	min-height: 100px;
}
.nav-link.btn-login-area {
	color: #6c7680 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.web-footer {
	padding-bottom: 1.6rem;
}

